<div class="targeta">
  <img [src]="element.imatgeUrl" [alt]="element.titol" class="imatge">

  <div class="contingut">
    <h3>{{ element.titol }}</h3>
    <p class="descripcio">{{ element.descripcio }}</p>

    <div class="info">
      <span class="categoria">{{ element.categoria }}</span>
      <span class="preu">{{ element.preu }}€</span>
      <span class="unitats" *ngIf="element.unitats > 0">
        {{ element.unitats }} en stock
      </span>
    </div>

    <button 
      class="btn-preferit"
      [class.actiu]="esPreferit()"
      (click)="togglePreferit()">
      {{ esPreferit() ? '❤️ Preferit' : '🤍 Afegir' }}
    </button>
  </div>
</div>